<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-search"></i> Search Name by Policy Number
      </h1>

      <form action="/users/auth/policy" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Your Email"
          />
        </div>
        <div class="form-group">
          <label for="policyNumber">Find name of policy number</label>
          <input
            type="text"
            id="policyNumber"
            name="policyNumber"
            class="form-control"
            placeholder="Enter policy number to search"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Find</button>
      </form>
    </div>
  </div>
</div>
